<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Save Employee</title>
</head>

<body>

	<div class="container">
		<h3>Employee Directory</h3>
		<hr>

		<p class="h4 mb-4">Save Employee</p>

		<!-- action은 비워두고 실제 action은 th에서 일어난다. from data를 /employees/save로 전송한다. -->
		<!-- object는 controller의 addAttribute에 있는 이름이다. -->
		<form action="#" th:action="@{/employees/save}"
			th:object="${employee}" method="POST">
			
			<!-- *{...} selects property on referenced th:object -->
			<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First name">
			<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last name">
			<input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email">
			
			<!-- when form is loaded, will call getter methods to populate form fields initially 
			when form is submitted, will call setter methods to populate java object with form-data -->
			<button type="submit" class="btn btn-info col-2">Save</button>
			</form>
			
			<hr>
			<a th:href="@{/employees/list}">Back to Employees List</a>
	</div>
</body>
</html>